.Restaurant {
    text-align: left;
    float: left;
    width: 500px;
    height: 200px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 5px;
    border: 2px solid grey;
    font-size: small;
}

.FoodImage {
  float: left;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 20px;
  display: block;
  width: 30%;
}
.Button {
  background-color: red;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  font-weight: bold;
  margin-right: 5px;
  vertical-align: bottom;
  border-radius: 5px;

}