.Restaurant {
  width: 500px;
  text-align: left;
  height: 200px;
  margin-left: 10px;
  margin-top: 10px;
  padding: 5px;
  border: 2px solid grey;
  font-size: small;
}

.Restaurant .FoodImage {
  float: left;
  max-width: 30%;
  max-height: 90%;
  margin: 20px 20px;
  display: block;
  margin-bottom: 100%;
}

.Restaurant .Button {
  background-color: red;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  font-weight: bold;
  margin-right: 5px;
  vertical-align: bottom;
  border-radius: 5px;

}

@media (max-width: 500px) {
  .Restaurant {
    width: 250px;
    margin: 2;
    font-size: x-small;
  }
}